Customer-Service-Client/src/main/resources/wsdl/CustomerSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.api.customerservice.tao.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerWS" targetNamespace="http://soap.api.customerservice.tao.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.api.customerservice.tao.fr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.api.customerservice.tao.fr/" version="1.0">
  <xs:element name="customerById" type="tns:customerById"/>
  <xs:element name="customerByIdResponse" type="tns:customerByIdResponse"/>
  <xs:element name="getAllCustomer" type="tns:getAllCustomer"/>
  <xs:element name="getAllCustomerResponse" type="tns:getAllCustomerResponse"/>
  <xs:element name="saveCustomer" type="tns:saveCustomer"/>
  <xs:element name="saveCustomerResponse" type="tns:saveCustomerResponse"/>
  <xs:complexType name="saveCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer" type="tns:customerDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerDto">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="email" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saveCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customerDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customerDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllCustomer">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllCustomerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customerDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="saveCustomerResponse">
    <wsdl:part element="tns:saveCustomerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerByIdResponse">
    <wsdl:part element="tns:customerByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustomer">
    <wsdl:part element="tns:getAllCustomer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustomerResponse">
    <wsdl:part element="tns:getAllCustomerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveCustomer">
    <wsdl:part element="tns:saveCustomer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerById">
    <wsdl:part element="tns:customerById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerSoapService">
    <wsdl:operation name="saveCustomer">
      <wsdl:input message="tns:saveCustomer" name="saveCustomer">
    </wsdl:input>
      <wsdl:output message="tns:saveCustomerResponse" name="saveCustomerResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="customerById">
      <wsdl:input message="tns:customerById" name="customerById">
    </wsdl:input>
      <wsdl:output message="tns:customerByIdResponse" name="customerByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCustomer">
      <wsdl:input message="tns:getAllCustomer" name="getAllCustomer">
    </wsdl:input>
      <wsdl:output message="tns:getAllCustomerResponse" name="getAllCustomerResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerWSSoapBinding" type="tns:CustomerSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saveCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saveCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="customerById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="customerById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="customerByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWS">
    <wsdl:port binding="tns:CustomerWSSoapBinding" name="CustomerSoapServicePort">
      <soap:address location="http://localhost:8081/services/CustomerSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>